<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>姓名案例_计算属性简写</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            姓：<input type="text" v-model="firstName"><br/><br/>
            名：<input type="text" v-model="lastName"><br/><br/>
            全名：<span>{{fullName}}</span>
        </div>
    </body>

    <script type="text/javascript">
        Vue.config.productionTip = false;

        new Vue({
            el: '#root',
            data: {
                firstName: '小',
                lastName: '明'
            },
            computed:{
                // 完整写法
                // fullName: {
                //     // get有什么作用？当fullName被访问时，get就会被调用，且返回值就作为fullName的值
                //     // get什么时候调用？1.初次读取fullName时。2.所依赖的数据发生变化时。
                //     get(){
                //         console.log('get被调用');
                //         return this.firstName + '-' + this.lastName;
                //     },
                //     // set什么时候调用？当fullName被修改时。
                //     set(value){
                //         console.log('set',value);
                //         const arr = value.split('-');
                //         this.firstName = arr[0];
                //         this.lastName = arr[1];
                //     }
                // }
                //
                // 简写形式，当没有set时，可以简写
                fullName() {
                    console.log('get被调用');
                    return this.firstName + '-' + this.lastName;
                }
            }
        });
    </script>
</html>